// Alert of something wrong
$('#success').html("<div class='alert alert-danger'>");
$('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
    .append("</button>");
$('#success > .alert-danger').append("<strong>Sorry, it appears something is missing. Please try again.</strong>");
$('#success > .alert-danger').append('</div>');

$('#success').hide().fadeIn();


// // =============================================================
//           //                                     SNIFF HTML FOR VALIDATORS
//           // =============================================================

//           // *snort sniff snuffle*

//           if (settings.options.sniffHtml) {
//             var message = "";
//             // ---------------------------------------------------------
//             //                                                   PATTERN
//             // ---------------------------------------------------------
//             if ($this.attr("pattern") !== undefined) {
//               message = "Not in the expected format<!-- data-validation-pattern-message to override -->";
//               if ($this.data("validationPatternMessage")) {
//                 message = $this.data("validationPatternMessage");
//               }
//               $this.data("validationPatternMessage", message);
//               $this.data("validationPatternRegex", $this.attr("pattern"));
//             }
//             // ---------------------------------------------------------
//             //                                                       MAX
//             // ---------------------------------------------------------
//             if ($this.attr("max") !== undefined || $this.attr("aria-valuemax") !== undefined) {
//               var max = ($this.attr("max") !== undefined ? $this.attr("max") : $this.attr("aria-valuemax"));
//               message = "Too high: Maximum of '" + max + "'<!-- data-validation-max-message to override -->";
//               if ($this.data("validationMaxMessage")) {
//                 message = $this.data("validationMaxMessage");
//               }
//               $this.data("validationMaxMessage", message);
//               $this.data("validationMaxMax", max);
//             }
//             // ---------------------------------------------------------
//             //                                                       MIN
//             // ---------------------------------------------------------
//             if ($this.attr("min") !== undefined || $this.attr("aria-valuemin") !== undefined) {
//               var min = ($this.attr("min") !== undefined ? $this.attr("min") : $this.attr("aria-valuemin"));
//               message = "Too low: Minimum of '" + min + "'<!-- data-validation-min-message to override -->";
//               if ($this.data("validationMinMessage")) {
//                 message = $this.data("validationMinMessage");
//               }
//               $this.data("validationMinMessage", message);
//               $this.data("validationMinMin", min);
//             }
//             // ---------------------------------------------------------
//             //                                                 MAXLENGTH
//             // ---------------------------------------------------------
//             if ($this.attr("maxlength") !== undefined) {
//               message = "Too long: Maximum of '" + $this.attr("maxlength") + "' characters<!-- data-validation-maxlength-message to override -->";
//               if ($this.data("validationMaxlengthMessage")) {
//                 message = $this.data("validationMaxlengthMessage");
//               }
//               $this.data("validationMaxlengthMessage", message);
//               $this.data("validationMaxlengthMaxlength", $this.attr("maxlength"));
//             }
//             // ---------------------------------------------------------
//             //                                                 MINLENGTH
//             // ---------------------------------------------------------
//             if ($this.attr("minlength") !== undefined) {
//               message = "Too short: Minimum of '" + $this.attr("minlength") + "' characters<!-- data-validation-minlength-message to override -->";
//               if ($this.data("validationMinlengthMessage")) {
//                 message = $this.data("validationMinlengthMessage");
//               }
//               $this.data("validationMinlengthMessage", message);
//               $this.data("validationMinlengthMinlength", $this.attr("minlength"));
//             }
//             // ---------------------------------------------------------
//             //                                                  REQUIRED
//             // ---------------------------------------------------------
//             if ($this.attr("required") !== undefined || $this.attr("aria-required") !== undefined) {
//               message = settings.builtInValidators.required.message;
//               if ($this.data("validationRequiredMessage")) {
//                 message = $this.data("validationRequiredMessage");
//               }
//               $this.data("validationRequiredMessage", message);
//             }
//             // ---------------------------------------------------------
//             //                                                    NUMBER
//             // ---------------------------------------------------------
//             if ($this.attr("type") !== undefined && $this.attr("type").toLowerCase() === "number") {
//               message = settings.builtInValidators.number.message;
//               if ($this.data("validationNumberMessage")) {
//                 message = $this.data("validationNumberMessage");
//               }
//               $this.data("validationNumberMessage", message);
//             }
//             // ---------------------------------------------------------
//             //                                                     EMAIL
//             // ---------------------------------------------------------
//             if ($this.attr("type") !== undefined && $this.attr("type").toLowerCase() === "email") {
//               message = "Not a valid email address<!-- data-validator-validemail-message to override -->";
//               if ($this.data("validationValidemailMessage")) {
//                 message = $this.data("validationValidemailMessage");
//               } else if ($this.data("validationEmailMessage")) {
//                 message = $this.data("validationEmailMessage");
//               }
//               $this.data("validationValidemailMessage", message);
//             }
//             // ---------------------------------------------------------
//             //                                                MINCHECKED
//             // ---------------------------------------------------------
//             if ($this.attr("minchecked") !== undefined) {
//               message = "Not enough options checked; Minimum of '" + $this.attr("minchecked") + "' required<!-- data-validation-minchecked-message to override -->";
//               if ($this.data("validationMincheckedMessage")) {
//                 message = $this.data("validationMincheckedMessage");
//               }
//               $this.data("validationMincheckedMessage", message);
//               $this.data("validationMincheckedMinchecked", $this.attr("minchecked"));
//             }
//             // ---------------------------------------------------------
//             //                                                MAXCHECKED
//             // ---------------------------------------------------------
//             if ($this.attr("maxchecked") !== undefined) {
//               message = "Too many options checked; Maximum of '" + $this.attr("maxchecked") + "' required<!-- data-validation-maxchecked-message to override -->";
//               if ($this.data("validationMaxcheckedMessage")) {
//                 message = $this.data("validationMaxcheckedMessage");
//               }
//               $this.data("validationMaxcheckedMessage", message);
//               $this.data("validationMaxcheckedMaxchecked", $this.attr("maxchecked"));
//             }
//           }
